pre {
    margin: 0;
}

table.main {
    width: 100%;
    font-size: small;
}

table.main tr.title {
    padding: 1px 10px;
    background-color: #ccc;
}

table.main td {
    vertical-align: top;
    padding: 3px 10px;
    border-right: 1px solid #ccc;
    border-top: 1px solid #ccc;
}

table.main tr:last-child td {
    border-bottom: 1px solid #ccc;
}

table.main td:first-child {
    border-left: 1px solid #999;
}

.meta {
    color: #ccc;
}

.result {
    border: 1px solid #ddd;
    padding: 4px;
    background-color: #EAEAEA;
}

.result sup {
    font-weight: bold;
}

.cmp_graph {
}

.cmp_graph .wrap {
    border: 1px solid #ccc;
    margin-top: 1px;
    background-color: #EEE;
    float: left;
    display: inline-block;
    clear: both;
}

.cmp_graph .timer {
    height: 16px;
    background-color: #FFA07A;
}

.cmp_graph .timer div {
    position: absolute;
    font-weight: bold;
    font-size: 13px;
    padding: 0 4px;
}

.report .number {

}

table.report {
    font-family: arial, sans-serif;
}

table.report thead th:first-child,
table.report tbody td:first-child {
    width: 280px;
    padding: 3px 0;
}

table.report thead th {
    padding: 0 5px;
}

table.main table.report tr td {
    border-bottom: none;
}

table.main table.report tr:last-child td {
    border-bottom: 1px solid #ccc;
}

.report .best_res {
    background-color: #90EE90;
    font-weight: bold;
    width: 197px;
    border: 1px solid #ccc;
    margin-top: 1px;
    padding-left: 3px;
}

.report .percentage {
    float: left;
    display: inline-block;
    width: 70px;
    padding: 1px 2px 0;
    font-size: 12px;
    line-height: 18px;
}

.report .dashed_border {
    width: 200px;
    height: 20px;
    position: absolute;
    border-right: 1px dashed #ccc;
}