table.main{
    width:100%;
}
table.main tr.title{
    padding: 1px 10px;
    background-color: #ccc;
}
table.main td{
    vertical-align: top;
    padding: 3px 10px;
    border-right: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    border-top: 1px solid #ccc;
}
table.main td:first-child{
    border-left: 1px solid #999;
}

.meta{
    color: #ccc;
}

.result{
    border: 1px solid #ddd;
    padding: 4px;
    background-color: #EAEAEA;
}

.result sup{
    font-weight: bold;
}
.cmp_graph{
}
.cmp_graph .wrap{
    border:1px solid #ccc;
    margin-top:1px;
    background-color: #EEE;
}
.cmp_graph .wt{
    height:8px;
    background-color: #FF9900;
}
.cmp_graph .timer{
    height:8px;
    background-color: #CC3300;
}
table.report{
    width:100%;
}
table.report thead th:first-child{
    width:200px;
}
