table.main{
    width:100%;
}
table.main tr.title{
    padding: 1px 10px;
    background-color: #ccc;
}
table.main td{
    vertical-align: top;
    padding: 3px 10px;
    border-right: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    border-top: 1px solid #ccc;
}
table.main td:first-child{
    border-left: 1px solid #999;
}

.meta{
    color: #ccc;
}

.result{
    border: 1px solid #ddd;
    padding: 4px;
    background-color: #EAEAEA;
}

.result sup{
    font-weight: bold;
}
